<header class="main-header">
    <section class="main-header-top-bar">
        <form class="form-header" action="" method="#">
            <fieldset class="form-container">
                <input class="form-input" type="text" placeholder="Buscar productos, marcas">
                <button class="form-button"><i class="fas fa-search"></i></button>
            </fieldset>
        </form>
        <a class="burger" href="#"><i class="fas fa-bars"></i></a>
        <h1>
            <a href="/"><i class="fas fa-fire"></i></a>
            <a class="logo-header" href="/">Lexaeus</a>
        </h1>
        <section class="main-header-right-bar">
            <% let user = locals.user %>
<<<<<<< HEAD
=======
            <% console.log(user) %>
>>>>>>> 20f5d1292d74ef1b4d241260a4d88ac784e40d23
            <% if (user) { %>
                <% if (user.isAdmin == 'true') { %>
                     <a class="profile" href="/products/create">Create</a> 
                <% } %>
                <a class="profile" href="/users/profile">Profile</a>
                <a class="logout" href="/users/logout">Logout</a>
            <% } else {%>
                <a class="iniciar-sesion" href="/users/login">Iniciar Sesión</a>
            <% } %>
            <a class="search"><i class="fas fa-search"></i></a>
            <a class="shoping-cart" href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        </section>
    </section>
    <section class="main-header-bottom-bar">
        <nav class="main-navbar">
            <ul class="list">
                <a href="/products/category/1">Hombre</a>
                <a href="/products/category/2">Mujer</a>
                <a href="/products/category/3">Accesorios</a>
                <a href="/products/category/4">Calzado</a>
                <a href="/products/sale">Ofertas</a>
                <a href="/">Ayuda</a>
            </ul>
        </nav>
    </section>
</header>